*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

 body{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgb(72, 73, 77) 50%, rgba(189, 31, 110, 0.51) 86%);
  background-size: 50px 50px;
  font-family: 'K2D', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  overflow-y: hidden;
}

/*Quotes*/

.box-centered {
  width: 400px;
  margin: 0 auto;
  padding: 4px 15px;
  font-size: 22px;
  background:#282828;
  text-align: center;
  box-shadow: 0 6px 6px;
  border: 1px solid #8A2387;
  border-radius: 2rem;
  }

  .text p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    text-align: center;
    background: -webkit-linear-gradient(rgb(238, 238, 238), rgb(216, 100, 100)); -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
  }
  
  .author h5 {
    font-family: cursive;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: gray;
    text-align: center;
  }

  .button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    color: #fff;
    background: #8A2387; 
    background: -webkit-linear-gradient(to right, #754a2f, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #50272c, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    outline: none;
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    border: 1px solid #6092ee;
    border-radius: 1rem;
  }

button:hover {
  filter: brightness(110%);
  border: none;
  outline:0;
}
button:focus {
  filter: brightness(120%);
  border: none;
  outline:0;
}

button:active {
  border: none; 
}

/*Twitter*/

.twitter-button{
  background:none;
}
.twitter-button:hover {
  color: #38a1f3;
  filter: brightness(120%);
}
  
.fa-twitter {
  font-size: 1.5rem;
  color: #38a1f3;
}

header {
  display: block;
  text-shadow: #282828;
  size: 2rem;
  border: 1px solid #8A2387;
  border-radius: 2rem;
  border-bottom-color: #8a2323;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #e4c0c0;
}
h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(241, 40, 77), rgb(51, 51, 51));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .box-centered {
    width: 270px;
  }
  .text p{
    font-size:15px;
  }
  .author h5{
    font-size:15px;
  }
  .header h1{
    font-size: 30px;
  }
  button {
    font-size:small;
  }
}